@use '@ts-core/angular' as vi;

mat-sidenav {
    width: 230px;

    ::ng-deep {
        .mat-drawer-inner-container {
            display: flex;
            flex-direction: column;
            @include vi.scroll-no();
        }
    }

    mat-list-item {
        &.mdc-list-item--activated {
            .mat-mdc-list-item-icon {
                color: var(--mat-sys-primary);
            }
            ::ng-deep {
                .mdc-list-item__primary-text {
                    color: var(--mat-sys-primary);
                }
            }
        }
    }
}
